* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 50px;
    height: 50px;
    background-image: url(iWebsiteP/tlogo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    position: absolute;
    top: 7px;
    left: 10px;
}

.footer {
    width: 100%;
    height: 75px;
    background-color: dimgray;
    position: absolute;
    bottom: 0;
}

.contact {
    position: absolute;
    bottom: 25px;
    color: white;
    text-align: center;
}

.tgforum {
    text-align: center;
    color: aliceblue;
    margin-top: 30px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fortnite {
    text-align: center;
    color: aliceblue;
    font-size: 25px;
}